{% extends 'main.html' %}

{% load static %}


{% block content %}



    <div class="abt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>About US</h3>
                </div>
            </div>
        </div>
    </div>
    <section class="about-us py-5 " id="about-us">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class='text-success text-center'>Welcome!</h1>
                    <h2>Know More About Us</h2>
                    <hr>
                    <p>Our factory has more than 10 years experiences of producing PVC products. Till now we have PVC
                        ceiling and wall panel,
                        PVC skirting and SPC/RVP flooring. We totally have production lines.</p>
                    <p>We are a modern factory which develops new products, produces and sells advanced products. Our
                        factory always focus
                        on product’s quality. We have best extruding and grooving machines in China and our products are
                        already certified by
                        CE.</p>
                    <p>Every year we attend many different exhibitions all over the world. For example, we attend Dubai
                        Big 5 and Dubai surfaces. We attend Canton Fairtwice every year. Through attending these
                        professional exhibitions, we only sell our products all
                        over the world, but also we improve our technology and version with many customer’s help.</p>
                    <p>Our factory supply customers best products with most advanced technology, good quality and
                        service and reasonable
                        price. We hope win more customer’s appreciation and cooperation in the future with our best
                        products and service.
                    </p>
                    <button type="button" class="btn btn-success"><a
                            href="https://drive.google.com/file/d/1rs2l-EBt4Z-yP2pVxUJmNieaJ5_I-ODJ/view?usp=sharing">Let's
                        Know More</a></button>

                </div>
                <br> <br> <br>

                <div class="col-12 pt-5 text-center">
                    <iframe class="responsive-iframe" width="800" height="450"
                            src="https://www.youtube.com/embed/hZWxXteJDWM">
                    </iframe>
                </div>
                <br>

            </div>
        </div>
    </section>


    {#    <div class="txt_port">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-12">#}
    {#                    <h3>Terms & Conditions:</h3>#}
    {##}
    {#                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been#}
    {#                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley#}
    {#                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,#}
    {#                        but also the leap into electronic typesetting, remaining essentially unchanged. It was#}
    {#                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,#}
    {#                        and more recently with desktop publishing software like Aldus#}
    {#                        PageMaker including versions of Lorem Ipsum.#}
    {#                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of#}
    {#                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but#}
    {#                        also the leap into electronic typesetting, remaining essentially unchanged. It was popularised#}
    {#                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more#}
    {#                        recently with desktop publishing software like Aldus#}
    {#                        PageMaker including versions of Lorem Ipsum</p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}



    <!-- ================About Section End========== -->


{% endblock %}