

{% load static %}

<footer class="footer-section bg-with-black">
    <div class="footer-top-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta logo">
                        <img src="{% static 'images/logo.png' %}" alt="">
                        <ul class="fta-list">
                            {#                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Finacial#}
                            {#                                Planning</a></li>#}
                            {#                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Investments#}
                            {#                                Management</a>#}
                            {#                            </li>#}
                            {#                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Taxes Planning</a>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Vietnam Office</h3>
                        <ul class="fta-list">
                            <li>Address: 1st Floor, 27 Floor of Lilama Building No 52, Hoang Mai – Hanoi, Vietnam</li>
                            <li>Website : www.enoch.vn</li>
                        </ul>
                    </div>
                    <div class="single-fta">
                        <h3 class="fta-title">Guangzhou Office</h3>
                        <ul class="fta-list">
                            <li>Address: A15, Butterfly club, 3F , No 382 South Jiangnan Avennue, Haizhu District,
                                Guangzhou, China
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Hong Kong Office</h3>
                        <ul class="fta-list">
                            <li>Address: Room 2914,29/F, HO KING Commercial Center, 2-16 FA YUEN Street, MONGKOK,
                                KOWLOON/HONG KONG
                            </li>

                        </ul>
                    </div>
                    <div class="single-fta">
                        <h3 class="fta-title">Malaysia Office</h3>
                        <ul class="fta-list">
                            <li>No 86-3, Japan Radin Tengah, Bandar Baru SriPetaling, 57000 Kua Lumpur</li>

                        </ul>
                    </div>
                    <div class="single-fta">
                        <h3 class="fta-title">Cambodia Office</h3>
                        <ul class="fta-list">
                            <li>Address: 46aeo, street 03, borey new world chamkar dongSangkat dangkor, khan dangkor, phnom penh Cambodia</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Bangladesh Office</h3>
                        <ul class="fta-list">
                            <li>Address: House# 174, Lane# 2, Baridhara DOHS, Dhaka-1206, Bangladesh</li>
                            <li>Phone: +88 01715 177747, +88 01615 177747</li>
                            <li>Email: info@enochbd.com</li>
                        </ul>
                    </div>
                    <div class="single-fta">
                        <h3 class="fta-title">Pakistan Office</h3>
                        <ul class="fta-list">
                            <li>High Q Tower ,8th Floor, Office # 814 & 815, Gulberg 5, Jail Road Lahore, Pakistan</li>
                            <li>Website : www.enoch.pk</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="fba-copyright">
                                    <p class="text-light">Copyright © 2020 Developed by <a
                                            href="https://www.facebook.com/teamahoban">Team
                                        আহবান</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social_icon">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="fba-links">
                            <ul>
                                <li><a href="https://www.facebook.com/Enoch-International-106025141556847/"><img
                                        src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a></li>
                                <li><a href="https://www.youtube.com/channel/UCrjEhNxCSIXix_YIh9-bWvg"><img src="https://img.icons8.com/fluent/48/000000/youtube-squared.png"/></a>
                                </li>
{#                                <li><a href="#"><img#}
{#                                        src="https://img.icons8.com/cute-clipart/48/000000/twitter.png"/></a></li>#}
{#                                <li><a href="#"><img src="https://img.icons8.com/cute-clipart/50/000000/linkedin.png"/></a>#}
{#                                </li>#}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>