

{% load static %}

<footer class="footer-section bg-with-black">
    <div class="footer-top-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/logo2.png" alt="">
                        <ul class="fta-list">
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Finacial
                                Planning</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Investments
                                Management</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Taxes Planning</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Important Link</h3>
                        <ul class="fta-list">
                            <li><a href="#"><i class="fa fa-square"></i>Finacial Planning</a></li>
                            <li><a href="#"><i class="fa fa-square"></i>Investments Management</a></li>
                            <li><a href="#"><i class="fa fa-square"></i>Taxes Planning</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Important Link</h3>
                        <ul class="fta-list">
                            <li><a href="#"><i class="fa fa-square"></i>Finacial Planning</a></li>
                            <li><a href="#"><i class="fa fa-square"></i>Investments Management</a></li>
                            <li><a href="#"><i class="fa fa-square"></i>Taxes Planning</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fta">
                        <h3 class="fta-title">Contact Us</h3>
                        <ul class="fta-list">
                            <li>Address: 8th floor, 379 Hudson St, New York, NY 10018</li>
                            <li>Phone: (+1) 96 716 6879</li>
                            <li>Email: contact@site.com</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="fba-copyright">
                                    <p>Copyright © 2020 Developed by <a href="https://www.facebook.com/teamahoban">Team
                                        আহবান</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social_icon">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="fba-links">
                            <ul>
                                <li><a href="#"><img
                                        src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a></li>
                                <li><a href="#"><img src="https://img.icons8.com/fluent/48/000000/youtube-squared.png"/></a>
                                </li>
                                <li><a href="#"><img
                                        src="https://img.icons8.com/cute-clipart/48/000000/twitter.png"/></a></li>
                                <li><a href="#"><img src="https://img.icons8.com/cute-clipart/50/000000/linkedin.png"/></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>